<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta property="og:url" content="http://www.mozza.io/lockdownresearch">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Lockdown Research, by Mozza">
    <meta property="og:description" content="Our team will teach you how to run effective usability tests to keep improving your product.">
    <meta property="og:image" content="http://mozza.io/assets/images/share-uxr.jpg" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Lockdown Research by Mozza" %></title>

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114602891-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114602891-1');
    </script>

  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
