<div class="section-lg">
	<%= image_tag 'projects/bandsintown/bandsintown-europe.png', { :class=>'bandsintown-europe'} %>
	<%= image_tag 'projects/bandsintown/bandsintown-us.png', { :class=>'bandsintown-us'} %>
	<div class="container">
		<div class="row center-xs">
			<div class="col-xs col-sm-10 col-md-7 gutter-lg" data-aos="fade-up">
				<h2>The platform where music artists and fans connect.</h2>
				<p class='p-lg'>The New-York company counts more than 55m users that get recommended shows based in their music DNA. It makes revenue through tools for artists’ promoters to manage and market live events. Our job was to redesign these tools, and increase order value.</p>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container-fluid">
		<div class="row middle-xs">
			<div class="col-xs-12 col-md-6 col-lg-5 gutter-lg" data-aos="fade-right">
				<div class="h5-extented mb2 opacity-70">step one</div>
				<h2>Identifying weaknesses</h2>
				<p class="opacity-100">We delivered an audit analyzing the campaign ordering flow where several issues could cause misunderstandings on the promoters’ side. The team presented different solutions and good practices to restructure the experience.</p>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-7 gutter-lg" data-aos="fade-left">
				<%= image_tag 'projects/bandsintown/bandsintown-audit.png', { :class=>'bandsintown-audit mt6' } %>
				<%= image_tag 'projects/bandsintown/bandsintown-rapper.png', { :class=>'bandsintown-rapper'} %>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container-fluid">
		<div class="row middle-xs">
			<div class="col-xs-12 col-md-4 gutter-lg" data-aos="fade-left">
				<h2>UX Analysis</h2>
				<p class="p opacity-100">Some parts of the users flow would confuse promoters when ordering a campaign. For instance, as the highlighted elements don't share the same area, they tend to be perceived as unrelated.</p>
			</div>
			<div class="col-xs-12 col-md-8 gutter-lg first-md" data-aos="fade-right">
				<%= image_tag 'projects/bandsintown/bandsintown-focus.jpg', { :class=>'mt6'} %>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="section-small">
	<div class="container-fluid">
		<div class="row center-md">
			<div class="col-xs-12 col-lg-8 gutter-lg" data-aos="fade-up">
				<div class="h5-extented mb2 opacity-70">step two</div>
				<h2>We designed a simpler and more engaging experience for promoters</h2>
			</div>
		</div>
		<div class="row center-xs">
			<div class="col-xs-12 col-md-6 col-lg-3 bandsintown-step" data-aos="fade">
				<%= image_tag 'projects/bandsintown/bandsintown-step-1.jpg', { :class=>'step'} %>
				<div class="h6">1/4 • event type</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3 bandsintown-step" data-aos="fade">
				<%= image_tag 'projects/bandsintown/bandsintown-step-2.jpg', { :class=>'step'} %>
				<div class="h6">step 2 • event description</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3 bandsintown-step bandsintown-step-3" data-aos="fade">
				<%= image_tag 'projects/bandsintown/bandsintown-step-3.jpg', { :class=>'step'} %>
				<div class="h6">3/4 • audience builder</div>
				<%= image_tag 'projects/bandsintown/bandsintown-arrow.svg', { :class=>'bandsintown-arrow'} %>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3 bandsintown-step" data-aos="fade">
				<%= image_tag 'projects/bandsintown/bandsintown-step-4.jpg', { :class=>'step'} %>
				<div class="h6">4/4 • order summary</div>
			</div>
		</div>
	</div>
	</div>
	<div class="section-small">
	<div class="container-fluid">
		<div class="row middle-xs center-lg">
			<div class="col-xs-12 col-md-4 gutter-lg" data-aos="fade-right">
				<h3 class="text-left">Targeted audiences</h3>
				<p class="p opacity-100 text-left">We implemented a table pattern to allow users to define different targets and help them understand the correlation between the amount of selected emails and the required budget.</p>
			</div>
			<!-- <div class="col-xs-12 col-md-8 gutter-lg" data-aos="">
				<%# image_tag 'projects/bandsintown/bandsintown-audience.svg', { :class=>'mt6'} %>
			</div> -->
			<div class="col-xs-12 col-md-8 gutter-lg" data-aos="">
				<video autoplay muted loop>
					<source src="../assets/videos/bit2.mp4" type="video/mp4">
						Your browser does not support the video tag.
				</video>
			</div>
		</div>
	</div>
</div>
</div>

<div class="section bg-dark">
	<div class="container-fluid">
		<div class="row center-md">
			<div class="col-xs-12 col-md-8 gutter-lg" data-aos="fade-up">
				<div class="h5-extented mb2 opacity-70">final result</div>
				<h2>The new UX speeded up the order process and increased clarity on the product abilities</h2>
			</div>
		</div>
		<div class="row center-md">
			<div class="col-xs-12 col-md-10" data-aos="fade-up">
				<div class="before-after">
					<div class="after"><%= image_tag 'projects/bandsintown/bandsintown-after.jpg' %></div>
					<div class="before"><%= image_tag 'projects/bandsintown/bandsintown-before.jpg' %></div>
					<div class="divider"></div>
				</div>
			</div>
		</div>
	</div>
</div>