<section class="section-lg">
	<div class="container">
		<div class="row center-xs">
			<div class="col-xs col-md-7 gutter-lg" data-aos="fade-up">
				<h2>Frichti is one of the French leading food-delivery startup.</h2>
				<p class='p-lg'>Thanks to the quality of its food and marketing strategy, the company raised 43m€ in funding from the best VCs to compete with Uber Eats and Deliveroo. Such funding enabled them to invest significantly on paid acquisition; but acquisition is worthless if users don’t convert into customers. How to engage new users into ordering food on their 1st day with the app? We got our challenge.</p>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs col-md-5 gutter-lg" data-aos="fade-right">
				<div class="h5-extented opacity-70">step one</div>
				<h2>Idea Rain</h2>
				<p class="opacity-100">We ran brainstorming sessions in order to come up with 15+ creative ideas that would improve the conversion rate. We prioritized these ideas based on their technical feasibility and potential of success, and designed UX prototypes of the best 3. Check them out!</p>
			</div>
			<div class="col-xs-12 col-md-7" data-aos="fade-left">
				<%= image_tag 'projects/frichti/frichti-prez.png', { :class=>'image-frichti mb4', :loading => "lazy" }  %>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container-fluid">
		<div class="row middle-xs">
			<div class="col-xs-12 col-sm-12 col-md-4 gutter-lg last-lg" data-aos="fade-left">
				<div class="h5-extented opacity-70">step two</div>
				<h2>Prototypes.</h2>
				<p class="opacity-100">Then we designed UX prototypes of the best 2. One of them was implemented by Frichti’s product team.</p>
			</div>
			<div class="col-xs-12 col-md-8" data-aos="fade-right">
				<div class="row center-md">
					<div class="col-xs-12 col-sm-6 col-lg-5">
						<a class="device-link" href="https://www.figma.com/proto/0oBBHP9vb8yP0oTgKhtVsp2Y/%5BFrichti%5D-Activation-Sprint?node-id=16%3A17&scaling=scale-down" target="blank">
							<%= image_tag 'projects/frichti/frichti-proto-1.jpg', { :class=>'device-mobile', :loading => "lazy" }  %>
							<div class="mb3">
								<span class="device-link-icon icon icon-xs"><%= svg "icons/icon-figma.svg" %></span>
								<p class="device-link-p">Hyper Personnalisation<span class="icon icon-xs icon-white ml1"><%= svg "icons/icon-carret-right.svg" %></span></p>
							</div>
						</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-5">
						<a class="device-link" href="https://www.figma.com/proto/0oBBHP9vb8yP0oTgKhtVsp2Y/%5BFrichti%5D-Activation-Sprint?node-id=11%3A5&scaling=scale-down" target="blank">
							<%= image_tag 'projects/frichti/frichti-proto-2.jpg', { :class=>'device-mobile', :loading => "lazy" }  %>
							<div class="mb3">
								<span class="device-link-icon icon icon-xs"><%= svg "icons/icon-figma.svg" %></span>
								<p class="device-link-p">Offer Simplification<span class="icon icon-xs icon-white ml1"><%= svg "icons/icon-carret-right.svg" %></span></p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container-fluid">
		<div class="row middle-xs">
			<div class="col-xs-12 offset-lg-1 col-lg-4 gutter-lg" data-aos="fade-right">
				<div class="h5-extented opacity-70">result</div>
				<h2>Implemented Solution</h2>
				<p class="opacity-100">Finally, the team implemented the second strategy, Offer Simplification, which helps new users make their first choice.</p>
			</div>
			<div class="col-xs-12 col-lg-7 gutter-lg">
				<div class="row center-xs">
					<div class="col-xs-12 col-sm-8 col-lg-6" data-aos="fade-left">
						<div class="before-after">
							<div class="after"><%= image_tag 'projects/frichti/frichti-after.jpg', { :loading => "lazy" } %></div>
							<div class="before"><%= image_tag 'projects/frichti/frichti-before.jpg', { :loading => "lazy" } %></div>
							<div class="divider"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>