<div class="card-member member-min-height">
	<div class="avatar avatar-xl avatar-rounded mb3"><%= image_tag "team/" + member.picture %></div>
	<p class="h6"><%= member.job_title %> </p>
	<h3 class="mb4"><%= member.first_name %> <%= member.last_name %></h3>
	<p class="p-sm opacity-80"><%= member.experience %> <%= member.other %></p>
</div>