<!-- HERO -->
<section class="bg-green space">
	<div class="container">
		<div class="row center-xs">
			<div class="col-xs-12">
				<h1 class="mb2">Create a product people <span>love</span>.</h1>
				<p class="p-large">We see ourselves as design cofounders with one mission: help you build the right product in record time</p>
			</div>
		</div>
	</div>
</section>

<!-- TRUST -->
<section class="bg-gray space-medium">
	<div class="container">
		<div class="row middle-xs">
			<div class="col-xs-12 col-sm-6 center-xs mb4">
				<div>
				<%= image_tag "img-yc.png", { :class=>'image-create' }  %>
				<%= image_tag "img-efounders.png", { :class=>'image-create' }  %>
				<%= image_tag "img-family.png", { :class=>'image-create' }  %>
				<%= image_tag "img-techstars.png", { :class=>'image-create' }  %>
				</div>
				<p class="pt2 p-small meta-50">Our clients went through the best accelerators</p>
			</div>
			<div class="col-xs-12 col-sm-5 offset-sm-1">
				<p class="p-large mb4">We have been collaborated with dozens of entrepreneurs since 2017.</p>
				<p class="p-small meta-80">The 2 things they value most in our work are the quality of the team and its commitment. From ideation to launch, we partner with our clients in order to build an engaging product together: we will not only follow your ideas but challenge them to make sure you are also learning all along the way.</p>
			</div>
		</div>
	</div>
</section>

<!-- APPROACH -->
<section class="container space-medium">
	<div class="row mb4">
		<div class="col-xs-12 col-sm-8 offset-sm-1">
			<h3 class="meta-50 mb4">Approach</h3>
			<p class="p-large">A good product strategy can save early-stage startups months if not years. With Mozza, every single minute spent by your developers is well spent.</p>  
			<p class="p-large">Our motto is “growth by design”. We define a product strategy and create interfaces that will delight your very first users thanks to a simple yet exciting experience.</p>
			<p class="p-large">Through rapid iteration and a lean user-centric methodology, we are able to turn ideas into high-definition prototypes that can be launched quickly.</p>
		</div>
		<div class="col-xs-12 col-sm-9 offset-sm-1">
			<h3 class="meta-50 mb5 mt6">Capabilities</h3>
		</div>
		<div class="col-xs-12 col-sm-9 offset-sm-1">
				<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="skill-item">
				<%= image_tag "icon-strategy.svg", { :class=>'skill-item-icon' }  %>
				<h4 class="skill-item-title">Strategy & ideation</h4>
				<p class="skill-item-desc">Help you define the right vision for your product.</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="skill-item">
				<%= image_tag "icon-ux.svg", { :class=>'skill-item-icon' }  %>
				<h4 class="skill-item-title">UX design</h4>
				<p class="skill-item-desc">Product navigation & engaging user flows.</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="skill-item">
				<%= image_tag "icon-ui.svg", { :class=>'skill-item-icon' }  %>
				<h4 class="skill-item-title">UI design & branding</h4>
				<p class="skill-item-desc">The look & feel of your product experience.</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="skill-item">
				<%= image_tag "icon-research.svg", { :class=>'skill-item-icon' }  %>
				<h4 class="skill-item-title">User research</h4>
				<p class="skill-item-desc">Help you understand your target market.</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="skill-item">
				<%= image_tag "icon-specs.svg", { :class=>'skill-item-icon' }  %>
				<h4 class="skill-item-title">Product specifications</h4>
				<p class="skill-item-desc">To ensure a quick & proper implementation.</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="skill-item">
				<%= image_tag "icon-handover.svg", { :class=>'skill-item-icon' }  %>
				<h4 class="skill-item-title">Handover to dev team</h4>
				<p class="skill-item-desc">For a smooth development phase.</p>
			</div>
		</div>
		</div>
	</div>
</section>

<!-- CASE STUDIES 1 -->
<section class="usecase-item mymark">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<%= image_tag "usecases/mymark-illustration.png" %>
			</div>
			<div class="col-xs-12 col-sm-5 offset-sm-1">
				<h4 class="usecase-brand">MyMark. <span>available soon</span></h4>
				<h2 class="usecase-title">How to showcase health data in a warm and engaging way?</h2>
				<div class="usecase-testimonial">
					<p class="mb2">"<%= data.testimonials[2].quote %>"</p>
					<p class="usecase-testimonial-person"><%= data.testimonials[2].name %>, <span><%= data.testimonials[2].position %></span></p>
					<!-- <%= image_tag "testimonials/" + data.testimonials[2].pic %> -->
				</div>
			</div>
		</div>
	</div>
</section>

<!-- CASE STUDIES 2 -->
<section class="usecase-item pixy">
	<div class="container">
		<div class="row middle-xs">
			<div class="col-xs-12 col-sm-6 offset-sm-1 last-sm">
				<%= image_tag "usecases/pixy-illustration.png" %>
			</div>
			<div class="col-xs-12 col-sm-5">
				<h4 class="usecase-brand">Pixy. <span>available soon</span></h4>
				<h2 class="usecase-title">How to make household chores fun again?</h2>
				<div class="usecase-testimonial">
					<p class="mb2">"As an early stage start-up, working with Mozza has given our project all the chances to succeed thanks to a high-level expertise and a smooth cooperation, as if they were part of the team."</p>
					<p class="usecase-testimonial-person">Anne-Sophie Lecointre, <span>CEO of Pixy</span></p>
					<!-- <%= image_tag "testimonials/" + data.testimonials[2].pic %> -->
				</div>
			</div>
		</div>
	</div>
</section>

<!-- CASE STUDIES 3 -->
<% link_to '/productdesign.html', {:class=> 'usecase-item holiwin'} do %>
	<div class="container">
		<div class="row middle-xs">
			<div class="col-xs-12 col-sm-7">
				<%= image_tag "illu-holiwin.png" %>
			</div>
			<div class="col-xs-12 col-sm-5">
				<h4 class="usecase-brand">Holiwin.</h4>
				<h2 class="usecase-title">How to reinvent the hotel booking experience through lottery?</h2>
			</div>
		</div>
	</div>
<% end %>

<!-- RECIPES -->
<section class="container space">
	<div class="row">
		<div class="col-xs-12 center-xs">
			<h3 class="meta-50 mb7">The recipes that made us famous</h3>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="recipe">
				<% link_to data.slides[5].url, target: "_blank" do %>
				<div class="recipe-photo"><%= image_tag "slides/" + data.slides[5].img + ".png" %></div>
				<% end %>
				<div class="recipe-text">
					<h3 class="mb2"><%= data.slides[5].name %></h3>
					<p class="p-small"><%= data.slides[5].text %></p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="recipe">
				<% link_to data.slides[2].url, target: "_blank" do %>
				<div class="recipe-photo"><%= image_tag "slides/" + data.slides[2].img + ".png" %></div>
				<% end %>
				<div class="recipe-text">
					<h3 class="mb2"><%= data.slides[2].name %></h3>
					<p class="p-small"><%= data.slides[2].text %></p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="recipe">
				<% link_to data.slides[1].url, target: "_blank" do %>
				<div class="recipe-photo"><%= image_tag "slides/" + data.slides[1].img + ".png" %></div>
				<% end %>
				<div class="recipe-text">
					<h3 class="mb2"><%= data.slides[1].name %></h3>
					<p class="p-small"><%= data.slides[1].text %></p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 center-xs">
			<a class="text-link" href="/recipes.html">More Recipes</a>
		</div>
	</div>
</section>

