---
title: Scale with Mozza
layout: main
color_menu : white
---

<!-- HERO -->
<section class="section-first bg-green">
	<div class="container">
		<div class="row center-xs">
			<div class="col-xs">
				<h1>Create a product people <span class="illu-underline">love
					<svg width="128" height="12" viewBox="0 0 128 12" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.5" d="M4 8.00002C4 8.00002 30 5.35729 54 4.50014C78 3.64298 124 8.00002 124 8.00002" stroke="white" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</span>.</h1>
				<p class="p-lg">We see ourselves as design cofounders with one mission: help you build the right product in record time</p>
			</div>
		</div>
	</div>
</section>

<!-- TRUST -->
<section class="section-large bg-gray">
	<div class="container">
		<div class="row middle-xs">
			<div class="col-xs-12 col-md-6 col-lg-5">
				<h2 class="mb5">We collaborated with dozens of entrepreneurs since 2017.</h2>
				<p class="">The 2 things they value most in our work are the quality of the team and its commitment. From ideation to launch, we partner with our clients in order to build an engaging product together: we will not only follow your ideas but challenge them to make sure you are also learning all along the way.</p>
			</div>
			<div class="col-xs-12 col-md-5 offset-md-1 col-lg-6 center-xs mb4">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<%= image_tag 'logos/ycombinator-long-color.svg', { :class=>'image-startups' }  %>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<%= image_tag 'logos/500startups-long-color.svg', { :class=>'image-startups' }  %>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<%= image_tag 'logos/techstars-long-color.svg', { :class=>'image-startups' }  %>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<%= image_tag 'logos/efounders-long-color.svg', { :class=>'image-startups' }  %>
					</div>
				</div>
				<p class="h6 mt2 opacity-50">Our clients went through the best accelerators</p>
			</div>
		</div>
	</div>
</section>

<!-- APPROACH -->
<section class="section bg-white">
	<div class="container">
		<div class="row center-sm text-left">
			<div class="col-xs-12 col-md-9 col-lg-7">
				<h2 class="mb5">Approach</h2>
				<p class="p-lg">A good product strategy can save early-stage startups months if not years. With Mozza, every single minute spent by your developers is well spent.</p>  
				<p class="p-lg">Our motto is “growth by design”. We define a product strategy and create interfaces that will delight your very first users thanks to a simple yet exciting experience.</p>
				<p class="p-lg">Through rapid iteration and a lean user-centric methodology, we are able to turn ideas into high-definition prototypes that can be launched quickly.</p>
			</div>
		</div>
	</div>
</section>

<!-- COMPETENCES -->
<section class="section-small bg-white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-competence">
					<span class="icon icon-md mb3"><%= svg "icons/icon-strategy.svg" %></span>
					<h4>Strategy & Ideation</h4>
					<p>Help you define the right vision for your product.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-competence">
					<span class="icon icon-md mb3"><%= svg "icons/icon-ux.svg" %></span>
					<h4>UX Design</h4>
					<p>Product navigation & engaging user flows.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-competence">
					<span class="icon icon-md mb3"><%= svg "icons/icon-ui.svg" %></span>
					<h4>UI design & branding</h4>
					<p>The look & feel of your product experience.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-competence">
					<span class="icon icon-md mb3"><%= svg "icons/icon-research.svg" %></span>
					<h4>UX Research</h4>
					<p>Help you understand your target market.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-competence">
					<span class="icon icon-md mb3"><%= svg "icons/icon-specs.svg" %></span>
					<h4>Product specifications</h4>
					<p>To ensure a quick & proper implementation.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-competence">
					<span class="icon icon-md mb3"><%= svg "icons/icon-handover.svg" %></span>
					<h4>Handover to dev team</h4>
					<p>For a smooth development phase.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- PROJECTS -->
<section class="section bg-white">
	<div class="container">
		<div class="row">
			<div class="col-xs">
				<%= partial "partials/project", :locals => { :project => data.projects[1] } %>
				<%= partial "partials/project", :locals => { :project => data.projects[0] } %>
			</div>
		</div>
	</div>
</section>

<!-- RECIPES -->
<section class="section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 center-xs">
				<h3 class="title-section">The recipes that made us famous</h3>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<%= partial "partials/recipe", :locals => { :recipe => data.recipes[5] } %>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<%= partial "partials/recipe", :locals => { :recipe => data.recipes[2] } %>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<%= partial "partials/recipe", :locals => { :recipe => data.recipes[1] } %>
			</div>
			<div class="col-xs-12 center-xs">
				<a class="link" href="/recipes.html">More Recipes</a>
			</div>
		</div>
	</div>
</section>

<!-- CONTACT US -->
<%= partial "partials/contact-us" %>