---
layout: usecase
---

<div class="blog-intro">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="">Heetch</h1>
			</div>
			<div class="col-xs-11">
				<h2 class="blog-pitch">To increase user engagement and monetization, we came up with a wide range of feature ideas and a successful strategy. Heetch raised $20M since then.</h2>
				<div class="blog-team">
					<div class="cook-avatar-sm"><%= image_tag "mozzayolos/adri.jpg" %></div>
					<div class="cook-avatar-sm"><%= image_tag "mozzayolos/max.png" %></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="blog-content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="blog-text">
					<h2>An ambitious goal.</h2>
					<p>The company wants to become the second ride-sharing service in France and in the other European countries where it operates.</p>
					<p>In order to stay competitive with Uber, Heetch  is a bit cheaper than a normal UberX ride. But drivers still get paid more or less as much on Heetch and on Uber as the startup’s cut is only 15 percent.</p>
					<p>In late 2017, after raising a $12M round, they came up to us with a major challenge: keeping drivers available on the app during peak times, when more users open the app to look for a ride as Uber prices get higher.</p>
				</div>

				<div class="blog-image">
					<%= image_tag 'usecases/heetch/heetch-1.png' %>
				</div>

				<div class="blog-text">
					<p>We took time to understand their specific situation, users and brand image. It was key not to mimic Uber’s obligatory surge pricing that is a huge pain for people living out of the city which represents a significant part Heetch’s userbase.</p>
					<p>So we offered dozens of creative solutions to solve this challenge with a wide range of strategies, from different demand allocation mechanisms implying gamification or viral features, to alternative improvements to encourage supply. Some examples:</p>
				</div>
				<div class="blog-image row">
					<div class="col-xs-3">
						<%= image_tag 'usecases/heetch/heetch-2.png' %>
						<p class="p-small text-center meta-65">Invite 3 friends and unlock a discount</p>
					</div>
					<div class="col-xs-6">
						<%= image_tag 'usecases/heetch/heetch-3.png' %>
						<p class="p-small text-center meta-65">Busy night, you’re in the waiting list!” with a groupchat and a paid boost CTA to get on top of the list</p>
					</div>
					<div class="col-xs-3">
						<%= image_tag 'usecases/heetch/heetch-4.png' %>
						<p class="p-small text-center meta-65">Lottery system for a cheap ride if you can’t afford the surged price</p>
					</div>
				</div>
				<div class="blog-text">
					<h2>The result.</h2>
					<p>Eventually, the Boost solution was picked: if the passenger doesn’t want to pay, they’ll have to wait or get a bit lucky. Also, the 15 percent driver commission only applies to base price. Drivers get 100 percent of each boost. This move solves the initial challenge and makes sure to keep the process more fair for everyone. In 2018, Heetch raised another $20M round to compete head-to-head with Uber in Europe!</p>
				</div>
				<div class="blog-image">
					<%= image_tag 'usecases/heetch/heetch-5.jpg' %>
					<p class="p-small text-center meta-65">Final UX implemented by Heetch's team.</p>
				</div>
			</div>
		</div>
	</div>
</div>
