---
layout: usecase
---

<div class="blog-intro">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="">Holiwin</h1>
			</div>
			<div class="col-xs-11">
				<h2 class="blog-pitch">A team of two Mozzayolos created a travel lottery app from scratch for a French entrepreneur, from strategy and ideation to a high-fidelity prototype with a neat user interface. The project will be live in the first half of 2019.</h2>
				<div class="blog-team">
					<div class="cook-avatar-sm"><%= image_tag "mozzayolos/lucas.jpg" %></div>
					<div class="cook-avatar-sm"><%= image_tag "mozzayolos/mathieu.jpg" %></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="blog-content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<div class="blog-text">
					<h3>Origin.</h3>
					<p>Our client had the idea of Holiwin, a lottery app that enables you to try your luck on luxury vacations. </p>
					<p>Our first work was to define the product strategy. To do so, we benchmarked travel & lottery/betting apps and then we identified all the UX-impacting dimensions we needed to take into account on the app (number of offers, frequency of new offers, currency, draw mechanism) and listed all the ideas we had for each of those dimensions. Then, we suggested 3 relevant combinations of those many possibilities to our client.</p>
				</div>
				
				<div class="blog-image row">
					<div class="col-xs-12 col-md-6"><%= image_tag 'usecases/holiwin/holiwin-mapping.png' %></div>
					<div class="col-xs-12 col-md-6"><%= image_tag 'usecases/holiwin/holiwin-propals.png' %></div>
				</div>

				<div class="blog-text">
					<p>We then moved on to the UX design part of the project. We designed a low-fidelity prototype on which we made several user tests on people potentially interested by the concept, to make sure the concept was well understood and the app mechanism completely clear. At this stage, we didn’t worry yet about the look & feel of the app. We left those constraints for the next stage of the project.</p>
				</div>

				<div class="blog-image row">
					<div class="col-xs-4">
						<%= image_tag 'usecases/holiwin/holiwin-bet-v1.png' %>
						<p class="p-small text-center meta-65">Bet Screen Iteration #1</p>
					</div>
					<div class="col-xs-4">
						<%= image_tag 'usecases/holiwin/holiwin-bet-v2.png' %>
						<p class="p-small text-center meta-65">Bet Screen Iteration #2</p>
					</div>
					<div class="col-xs-4">
						<%= image_tag 'usecases/holiwin/holiwin-bet-v3.png' %>
						<p class="p-small text-center meta-65">Bet Screen Iteration #3</p>
					</div>
				</div>

				<div class="blog-text">
					<p>Then after making sure we had a crystal clear experience, we moved on to the high-fidelity part, working on Holiwin’s UI style guide and applying all those graphic elements to the UX of the app we’d delivered in the previous phase.</p>
				</div>

				<div class="blog-image">
					<%= image_tag 'usecases/holiwin/holiwin-5.jpg' %>
					<p class="p-small text-center meta-65">Final Style Guide</p>
				</div>

				<div class="blog-text">
					<h3>Conclusion.</h3>
					<p>Most startups fail within 18 months, because they don’t take the time to put their product on the market and test it. We enabled our client to move from his idea to a working MVP in 3 months. We didn’t want him to fall in the trap of a first version cluttered with superfluous features that would prevent him from launching his product quickly. From day one, our client had a simple, clean and engaging app that he could show to beta testers and potential partners/investors. That’s where Mozza’s value-added lies: our expertise in product management & design enable our clients to avoid making wrong product decisions.</p>
				</div>
			</div>
		</div>
	</div>
</div>