---
title: Scale with Mozza
layout: main
color_menu : white
---

<!-- HERO -->
<section class="section-first bg-green">
	<div class="container">
		<div class="row center-xs">
			<div class="col-xs">
				<h1>Scale better, faster, <span class="illu-underline">stronger
				<svg width="178" height="12" viewBox="0 0 178 12" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
					<path opacity="0.5" d="M4 7.61159C4 7.61159 30 4.96887 54 4.11171C78 3.25455 174 7.61159 174 7.61159" stroke="white" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				</span>.</h1>
				<p class="p-lg">Hire the best product designers in no time</p>
			</div>
		</div>
	</div>
</section>

<!-- TRUST -->
<section class="section-large bg-gray">
	<div class="container">
		<div class="row middle-xs">
			<div class="col-xs-12 col-md-6 col-lg-5">
				<h2 class="">Fast-growing startups often face the need for staff augmentation to help them accelerate on product iteration.</h2>
				<p class="">Mozza enables them to extend their design department with remote teams of senior product managers, designers and user researchers coming from the best companies.</p>
			</div>
			<div class="col-xs-12 col-md-6 offset-lg-1 center-xs">
				<div class="row">
					<div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
						<%= image_tag 'logos/blablacar-long-color.svg', { :class=>'image-startups' }  %>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
						<%= image_tag 'logos/payfit-long-color.svg', { :class=>'image-startups' }  %>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
						<%= image_tag 'logos/qonto-long-color.svg', { :class=>'image-startups' }  %>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
						<%= image_tag 'logos/aircall-long-color.svg', { :class=>'image-startups' }  %>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
						<%= image_tag 'logos/molotov-long-color.svg', { :class=>'image-startups' }  %>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
						<%= image_tag 'logos/contentsquare-long-color.svg', { :class=>'image-startups' }  %>
					</div>
				</div>
				<p class="h6 mt2 opacity-50">We come from these companies</p>
			</div>
		</div>
	</div>
</section>

<!-- APPROACH -->
<section class="section bg-white">
	<div class="container">
		<div class="row center-sm text-left">
			<div class="col-xs-12 col-md-9 col-lg-7">
				<h2 class="mb5">Approach</h2>
				<p class="p-lg">Our fresh eyes combined with our senior expertise enable us to deliver value within a few days.</p>
				<p class="p-lg">We can offer insights on product strategy, help design new features or tackle ad-hoc design projects that require high quality execution. The process is highly involved and requires deep collaboration on both sides.</p>
			</div>
		</div>
	</div>
</section>

<!-- COMPETENCES -->
<section class="section-small bg-white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-competence">
					<span class="icon icon-md mb3"><%= svg "icons/icon-strategy.svg" %></span>
					<h4>Strategy & Ideation</h4>
					<p>Help you define the right vision for your product.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-competence">
					<span class="icon icon-md mb3"><%= svg "icons/icon-audit.svg" %></span>
					<h4>UX & UI audit</h4>
					<p>Our insights to improve your product.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-competence">
					<span class="icon icon-md mb3"><%= svg "icons/icon-research.svg" %></span>
					<h4>User research</h4>
					<p>Help you understand your target market.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-competence">
					<span class="icon icon-md mb3"><%= svg "icons/icon-activation.svg" %></span>
					<h4>Activation sprint</h4>
					<p>Optimize onboarding flows.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-competence">
					<span class="icon icon-md mb3"><%= svg "icons/icon-virality.svg" %></span>
					<h4>Virality sprint</h4>
					<p>Implement viral loops to boost your growth.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-competence">
					<span class="icon icon-md mb3"><%= svg "icons/icon-retention.svg" %></span>
					<h4>Retention analysis</h4>
					<p>Identify features that make them stay.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-competence">
					<span class="icon icon-md mb3"><%= svg "icons/icon-ui.svg" %></span>
					<h4>UX & UI design</h4>
					<p>Engaging user flows and appealing branding.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-competence">
					<span class="icon icon-md mb3"><%= svg "icons/icon-specs.svg" %></span>
					<h4>Product specifications</h4>
					<p>To ensure a quick & proper implementation.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-competence">
					<span class="icon icon-md mb3"><%= svg "icons/icon-handover.svg" %></span>
					<h4>Handover to dev team</h4>
					<p>For a smooth development phase.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- PROJECTS -->
<section class="section-small bg-white">
	<div class="container">
		<div class="row">
			<div class="col-xs">
				<%= partial "partials/project", :locals => { :project => data.projects[0] } %>
				<%= partial "partials/project", :locals => { :project => data.projects[1] } %>
			</div>
		</div>
	</div>
</section>

<!-- RECIPES -->
<section class="section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 center-xs">
				<h3 class="title-section">The recipes that made us famous</h3>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<%= partial "partials/recipe", :locals => { :recipe => data.recipes[0] } %>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<%= partial "partials/recipe", :locals => { :recipe => data.recipes[3] } %>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<%= partial "partials/recipe", :locals => { :recipe => data.recipes[1] } %>
			</div>
			<div class="col-xs-12 center-xs">
				<a class="link" href="/recipes.html">More Recipes</a>
			</div>
		</div>
	</div>
</section>

<!-- CONTACT US -->
<%= partial "partials/contact-us" %>