---
layout: usecase
---

<div class="blog-intro">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="">Sift</h1>
			</div>
			<div class="col-xs-11">
				<h2 class="blog-pitch">Silicon Valley startup Sift raised $1.5M on a seed round and wanted to know how they could improve their activation and retention rates.</h2>
				<div class="blog-team">
					<div class="cook-avatar-sm"><%= image_tag "mozzayolos/max.png" %></div>
					<div class="cook-avatar-sm"><%= image_tag "mozzayolos/adri.jpg" %></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="blog-content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				
				<div class="blog-image">
					<%= image_tag 'usecases/sift/sift-1.png' %>
				</div>

				<div class="blog-text">
					<h3>Sift is an app to get the best of your credit cards.</h3>
					<p>We analysed its metrics to discover the most critical areas of improvement. Confirmed users loved the app benefits (lots of money saved!), but most newcomers failed to understand how to use the app to get the most of it. We decided on leading metrics to watch for, set targets and helped the team with their analytics setup to be able to track them correctly.</p>
				</div>

				<div class="blog-image">
					<%= image_tag 'usecases/sift/sift-2.png' %>
				</div>

				<div class="blog-text">
					<p>The metrics showed us great room for improvement in the activation flow. We analyzed their whole onboarding UX (from the App Store to the main feature) and decided on what could be done to increase conversion rates. We underlined potential misunderstandings and helped with industry best practices. We also gave guidance on their whole architecture and on the main screens and actions.</p>
				</div>

				<div class="blog-image">
					<%= image_tag 'usecases/sift/sift-3.png' %>
				</div>

				<div class="blog-text">
					<p>We then elaborated a product strategy for the following months, using 7 different UX and growth tactics. They were able to implement most of them with their team, and we also worked together again to design some of their new features.</p>
					<p>Sift was listed as one of Google Play’s Best Apps of 2018.</p>	
				</div>

			</div>
		</div>
	</div>
</div>
